<div>
  <form [formGroup]="addPostForm" (ngSubmit)="onSubmit()">
    <div>
      <label>
        Author
        <input formControlName="author" type="text">
      </label>
    </div>
    <div>
      <label>
        picture
        <input formControlName="picture" type="image">
      </label>
    </div>
    <div>
      <label>
        <title></title>
        <input formControlName="title" type="text">
      </label>
    </div>
    <div>
      <label>
        description
        <textarea formControlName="description" type="text"></textarea>
      </label>
    </div>
    <button type="submit">add post</button>
  </form>
</div>
