<form class="create-post-form" [formGroup]="addPostForm" (ngSubmit)="onSubmit()">
  <div class="form-input">
    <app-autocomplete
      [suggestions]="authorSuggestions"
      [onChange]="setFormValue('author')"
      label="Author"
    ></app-autocomplete>
  </div>
  <div class="form-input">
    <label>
      Title
      <input formControlName="title" type="text" id="title" #title>
    </label>
    <span
      *ngIf="validate('title')">
      Required
    </span>
  </div>
  <div class="form-input">
    <img
      [src]="addPostForm.value.picture"
      alt="picture"
      *ngIf="addPostForm.value.picture"
      (click)="fileInput.click()"
    >
    <input
      style="display: none"
      type="file" (change)="setPhoto($event)"
      #fileInput>
    <button
      (click)="fileInput.click()"
      type="button"
    >{{addPostForm.value.picture ? 'Edit File' : 'Select File'}}
    </button>
  </div>
  <div class="form-input">
    <label>
      Description
      <textarea formControlName="description" type="text"></textarea>
    </label>
  </div>
  <button type="submit" [disabled]="pendingService.pending || addPostForm.invalid">add post</button>
</form>
