<div>
  <form [formGroup]="addPostForm" (ngSubmit)="onSubmit()">
    <div>
      <label>
        <app-autocomplete
          [suggestions]="authorSuggestions"
          [onChange]="setFormValue('author')"
          label="Author"
        ></app-autocomplete>
      </label>
    </div>
    <div>
      <input
        style="display: none"
        type="file" (change)="setPhoto($event)"
        #fileInput>
      <button
        (click)="fileInput.click()"
        type="button"
      >Select File</button>
    </div>
    <div>
      <label>
        Title
        <input formControlName="title" type="text">
      </label>
    </div>
    <div>
      <label>
        Description
        <textarea formControlName="description" type="text"></textarea>
      </label>
    </div>
    <button type="submit" [disabled]="pendingService.pending">add post</button>
  </form>
</div>
