.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  border: 1px solid;

  .profile {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 20px;
    border: 1px solid;

    .image-container {
      width: 100px;
      height: 100px;
      background-color: gray;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  & > * {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  & > *:hover {
    color: brown;
  }
}
