<div class="header">
  <a
    routerLink="/"
    *ngIf="isAuthorized"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{exact: true}"
  >
    Home
  </a>
  <a
    [routerLink]="[myPosts]"
    *ngIf="isAuthorized"
    routerLinkActive="active-link"
  >
    My posts
  </a>
  <a
    [routerLink]="[createPost]"
    *ngIf="isAuthorized"
    routerLinkActive="active-link"
  >
    Create post
  </a>
  <div class="profile" *ngIf="isAuthorized && authService.user">
    <div class="image-container">
      <img
        [src]="authService.user.avatar"
        alt="avatar">
    </div>
    <a [routerLink]="[profile]" *ngIf="isAuthorized">Profile</a>
  </div>
  <span (click)="authService.logout()" *ngIf="isAuthorized">Logout</span>
  <a [routerLink]="[registrationLink]" *ngIf="!isAuthorized && isLoginPage">Registration</a>
  <a [routerLink]="[loginLink]" *ngIf="!isAuthorized && !isLoginPage">Login</a>
</div>
