<div class="header">
  <a routerLink="/" *ngIf="isAuthorized">Home</a>
  <a [routerLink]="[myPosts]" *ngIf="isAuthorized">My posts</a>
  <a [routerLink]="[createPost]" *ngIf="isAuthorized">Create post</a>
  <div class="profile" *ngIf="isAuthorized && authService.user">
    <div class="image-container">

    </div>
    <img *ngIf="authService.user.avatar" [src]="authService.user.avatar" alt="avatar">
    <a [routerLink]="[profile]" *ngIf="isAuthorized">Profile</a>
  </div>
  <span (click)="authService.logout()" *ngIf="isAuthorized">Logout</span>
  <div *ngIf="!isAuthorized">
    <a [routerLink]="[registrationLink]" *ngIf="isLoginPage">Registration</a>
    <a [routerLink]="[loginLink]" *ngIf="!isLoginPage">Login</a>
  </div>
</div>
