<form class="create-post-form" [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <app-image-uploader
    [form]="postForm"
    name="picture"
    label="Picture"
  ></app-image-uploader>
  <app-autocomplete
    [form]="postForm"
    name="author"
    label="Author"
    [suggestions]="authorSuggestions"
  ></app-autocomplete>
  <app-input-form
    [form]="postForm"
    name="title"
    label="Title"
  ></app-input-form>
  <app-input-form
    [form]="postForm"
    name="description"
    label="Description"
  ></app-input-form>
  <button
    type="submit"
    [disabled]="pendingService.pending || postForm.invalid"
  >
    add post
  </button>
</form>
