.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-form {
  width: 50%;
}

button {
  margin-top: 10px;
  width: 80px;
}

