<div [class]="containerClassName" (click)="goToDetails($event)" *ngIf="post">
  <div class="gallery">
    <div class="main-image">
      <img class="picture" src="{{post.pictures[0]}}" alt="pic"/>
    </div>
    <div class="pictures">
      <div
        class="image-container"
        *ngFor="let picture of post.pictures; trackBy: trackByFn; let i = index"
      >
        <img class="picture" src="{{picture}}" *ngIf="i !== 0" alt="pic"/>
      </div>
    </div>
  </div>
  <h2 class="author">{{post.author}}</h2>
  <h3 class="title">{{post.title}}</h3>
  <div class="description">
    {{detail ? post.description : post.description | truncate:[200, '...']}}
  </div>
  <div class="date">{{post.date | date}}</div>
  <div class="post-footer">
    <button
      type="button"
      (click)="deletePost($event)"
      *ngIf="isOwnPost"
    >
      Delete Post
    </button>
    <button
      type="button"
      (click)="editPost($event)"
      *ngIf="isOwnPost"
    >
      Edit Post
    </button>
  </div>
</div>
