.post-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid;
  margin-bottom: 20px;
  padding: 10px;

  & > * {
    margin-bottom: 10px;
  }

  .post-footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  &.detail {
    border: none;
  }
}

.gallery {
  width: 100%;

  .main-image {
    img {
      width: 100%;
    }
  }

  .pictures {
    width: 100%;
    display: flex;
    overflow-x: auto;

    .image-container {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    img {
      height: 150px;
      object-fit: contain;
    }
  }
}
