<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-input-form
        [form]="loginForm"
        name="email"
        label="Email"
      ></app-input-form>
      <app-input-form
        [form]="loginForm"
        name="password"
        label="Password"
        type="password"
      ></app-input-form>
      <button
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Ok
      </button>
    </form>
  </div>
</div>

